.header {
  display: flex;
  align-items: center;
  background-image: url("/header.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  color: #ffffff; 
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;

  &__arrowToLeft {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.2); // Zoom sur l'icône au survol
      filter: brightness(1.5);
    }
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000; // Effet lumineux
    letter-spacing: 2px;
  }

  // Styles pour un affichage réactif
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    &__arrowToLeft {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 20px;
    }
  }
}

.bouton {
  margin-left: auto; /* Pousse le bouton vers la droite */
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}